<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="CustomConfiguration" type="URLRewriter.Config.UrlsSection, URLRewriter" />
  </configSections>

  <CustomConfiguration>
    <urls>
      <add virtualUrl="~/microsoft*.*" destinationUrl="~/default.aspx" />
      <add virtualUrl="~/microsoft*" destinationUrl="~/default.aspx" />
      <add virtualUrl="~/m/i/c/rosoft.aspx" destinationUrl="~/default.aspx" />
    </urls>
  </CustomConfiguration>

	<system.web>
		<httpModules>
			<add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule"/>
		</httpModules>
		<authentication mode="Forms"/>
	</system.web>
</configuration>
