div#MainPromotionBanner{
	width:1000px;
	height:350px;
	margin-bottom: 10px;
}
#MainPromotionBanner #SlidePlayer {
	position:relative;
	margin: 0 auto;
}
#MainPromotionBanner .Slides{
	padding: 0;
	margin: 0;
	list-style: none;
	height: 350px;
	overflow: hidden;
}
#MainPromotionBanner .Slides li {
	float: left;
	width:1000px;
	height: 350px;
}

#MainPromotionBanner .Slides img{
	border:0;
	display: block;
	width:1000px;
	height: 350px;	
}

#MainPromotionBanner .SlideTriggers{
	margin: 0;
	padding: 0;
	list-style: none; 
	position: absolute; 
	top: 322px; 
	right:20px;
	z-index: 10;
	height: 25px;	
}
#MainPromotionBanner .SlideTriggers li{
	float: left;
	display: inline;
	color: #fff;
	text-align: center;
	line-height:16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size:14px;
	cursor: pointer;
	overflow: hidden; 
	margin:3px 6px;
}
#MainPromotionBanner .SlideTriggers li.Current{ 
	color:#fff; 
	background: url("../skin/slide_trigger_c.gif") no-repeat center center;
	border:0; 
	font-weight:bold;
	font-size: 1.4em;
	line-height: 21px;
	height: 21px;
	width: 21px;
	margin:0 6px; 
}
